@keyframes moveUp {
  100%{
    top: 0%;
    left: 5%;
  }
}

.rss-input-box {
  position:relative;
  left: 40%;
  top: 50%;
  justify-items: center;
  max-width:min-content;
}

.rss-input-box.topped{
  animation: 150ms linear moveUp forwards;
  /* top: 0%;
  left: 5%; */
}

.rss-content{
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rss-episode-list {
  color:inherit;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: .5em;
  max-width: 90%;
  justify-content: center;
}

.rss-info-box{
  display: flex;
  max-height: 100%;
  max-width: 90%;
  flex-direction: column;
  overflow-y: auto;
}

.rss-info-box-grid{
  display: grid;
  grid-template-columns: auto 4fr;
  
}


label{
  display: block;
}

.rss-info-image{
  margin: 2em;
  aspect-ratio: 1;
  width: 12em;
}

.episode-list-item{

  display: flex;
  flex-direction: column;
  border: thin #333 ridge;
  border-radius: 5px;
  padding-inline: .5em;
  padding-top: .2em;
  /* max-height: 12rem; */

  /* overflow: auto; */
}

.episode-title{
  margin: 0;
}

/* .episode-title-box{
  margin-inline: 1em;
} */

.episode-img{
  aspect-ratio: 1;
  max-width: 5rem;
}

.episode-list-item-img-title-grid{
  display: grid;
  grid-template-columns: auto 4fr;
  gap: 1em;
}

.episode-pubDate{
  margin: 0;
}