@keyframes moveUp {
  from{
    top: 50%;
    left: 40%;
  }
  to{
    top: 0%;
    left: 0%;
  }
}

.rss-input-box {
  /* display: grid; */
  /* place-items: center; */
  position:relative;
  left: 40%;
  top: 50%;
  /* height: 100vh; */
  /* width: 100%; */
  /* width:100vw; */
  justify-items: center;
}

.rss-input-box.topped{
  animation: moveUp .5s forwards;
}

label{
  display: block;
}

.rss-info-image{
  margin: 2em;
  aspect-ratio: 1;
  width: 12em;
}

.rss-info-box{
  display: flex;
  max-height: 100%;
  flex-direction: column;
  overflow-y: auto;
}