#root {
  max-width: 100dw;
  display: block;
  height: 100%;
  overflow: hidden;
}

.react-pods {
  justify-self: center;
  max-width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: max-content 8fr;

  /* overflow: scroll; */
}

.selection-viewer {
  padding: 2em;
  /* max-width: 100%; */
  overflow-y: auto;
}
.hidden{
  display: none;
  visibility: hidden;
}